@media screen and (min-width:520px) {
    
    main {
        flex-direction: row;
        width: 500px;

        border: none;
    }

    main > span.header-image {
        background-image: url(../assets/images/illustration-article.svg);
        background-repeat: no-repeat;
        background-size: cover;

        width: 500px;
        height: 415px;

        border-radius: 20px;
        margin-right: 10px;
    }

    
}