@font-face {
  font-family: 'fig-tree';
  src: url(../assets/fonts/Figtree-VariableFont_wght.ttf);
}

@font-face {
  font-family: ;
  src: url(../assets/fonts/Figtree-Italic-VariableFont_wght.ttf);
}

:root {
  --fonte-principal: 'fig-tree';
  --fonte-italico: 'fif-tree-italic';

  --cor-fundo: #F4D04E;
  --cor-paragrafo: #6B6B6B;
}

* {
  margin: 0px;
  padding: 0px;

  font-family: var(--fonte-principal);
}

body, html {
  background-color: var(--cor-fundo);

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;
}

main {
  background-color: white;
  width: 257px;
  height: 500px;

  border-radius: 20px;
  border: 1px solid black;

  display: flex;
  flex-direction: column;
  
  padding: 24px;
}

header, h2.title {
  margin-bottom: 12px;
}

img {
  background-size: cover;
  border-radius: 10px;
}

img, p {
  margin-bottom: 24px;
}

div.author-photo {
  background-image: url(../assets/images/image-avatar.webp);
  background-size: contain;

  width: 32px;
  height: 32px;
}

p {
  font-size: 15px;
  font-weight: 500;
  color: var(--cor-paragrafo);
}

p.publish-date {
  color: black;
}

h1 {
  font-size: 20px;
}

h2.title {
  background-color: var(--cor-fundo);

  max-width: 73px;
  max-height: 26px;

  font-size: 15px;
  font-weight: 900;

  text-align: center;

  padding: 8px 10px;
  border-radius: 6px;
}

h2.author-name {
    
}

footer {
  display: flex;

  height: 32px;

  flex-direction: row;
  align-items: top;
}