@font-face {
  font-family: 'fig-tree';
  src: url(../assets/fonts/Figtree-VariableFont_wght.ttf);
}

:root {
  --fonte-principal: 'fig-tree';

  --cor-fundo: #F4D04E;
  --cor-paragrafo: #6B6B6B;
}

* {
  margin: 0px;
  padding: 0px;

  font-family: var(--fonte-principal);
}

body, html {
  background-color: var(--cor-fundo);

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;
}

main {
  background-color: white;
  width: 257px;
  height: 410px;

  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 7px 7px 0px black;

  display: flex;
  flex-direction: column;
  
  padding: 24px;
}

main > article.blog-text {
  display: flex;
  flex-direction: column;
}

img {
  border-radius: 10px;
  margin-bottom: 24px;
}

header > h2 {
  background-color: var(--cor-fundo);

  max-width: 73px;
  max-height: 26px;

  font-size: 15px;
  font-weight: 900;

  text-align: center;

  padding: 8px 10px;
  margin-bottom: 12px;
  border-radius: 6px;
}

header > p {
  color: black;
  margin-bottom: 15px;
}

img {
  background-size: cover;
  border-radius: 10px;
  margin-bottom: 24px;
}

h1 {
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 12px;
}

h1:hover {
  color: var(--cor-fundo);
}

p {
  font-size: 15px;
  font-weight: 500;
  color: var(--cor-paragrafo);
  margin-bottom: 24px;
}

footer {
  display: flex;

  height: 32px;
}

footer > figcaption {
  align-self: center;

  font-size: 17px;
  font-weight: 900;

  margin-left: 15px;
}
